<div class="container toys" >

  <div id="index" class="d-flex justify-content-center flex-wrap">
    <%= render partial: 'toy', collection: @toys %>
  </div>

  <hr>

  <div class="d-flex justify-content-center" style="padding: 2rem">
    <%= link_to new_toy_path, class: "btn border" do %>
      <%= image_tag 'truck.svg', class: "button-icon" %>
      Add toy
    <% end %>
  </div>
</div>
