// Place all the styles related to the Toys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.toys{
  img {
    height: 190.88px;
    object-fit: contain; 
  }

  img.button-icon {
    height: 16px;    
    width: 16px;    
  }
}

.toy-form{
  #preview{
    padding: 2rem 0rem;

    img{
      object-fit: contain;
      height: 200px;
      padding: 0.5rem;
    }
  }
}

.toy-show{
  div#list-view.image-view{
    .toy-image{
      width: 90%;

      img.img-interaction-button{
        margin: 0 5px;
        background-color: rgba(125, 125, 125, 0.139);
        padding: 10px;
        border-radius: 50%;

        &:hover{
          outline: 2px;
          background-color: rgba(121, 121, 121, 0.502);
        }
      }

      img.card-img-bottom{
        object-fit: contain;
      }
    }
  }

  div#carousel-view.image-view{
    img{
      object-fit:contain; 
      height: 650px;
    }
  }

  div#grid-view.image-view{
    img{
      object-fit: contain;
      height: 200px;
    }
  }

  div.nav-link.active{
    background-color: rgba(125, 125, 125, 0.139);
  }

}
