// Place all the styles related to the Toys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.toy-card {
  margin: 1rem;
  padding: 0.5rem;
  border: 0.5px solid #d1cfe2; 
  border-radius: 5px;
}

#toy-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}